.productsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-row-gap: 20px;
    grid-column-gap: 75px;
    justify-items: center;
    justify-content: center;


    .product {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-shadow: 4.6px 9.1px 9.1px hsl(0deg 0% 0% / 0.36);
        background: url(../../Data/img/surf-logo.png) repeat-x center;
        background-size: 35px;
        background-color: #F79256;
        padding-bottom: 15px;

        img {
            width: 100%;
        }

        p {
            font-weight: bold;
            text-align: center;
        }

        button {
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
        }

        button:hover {
            background-color: #7DCFB6;
            cursor: pointer;
        }
    }
}